.contact-section {
  padding: 40px 20px;
  text-align: center;
  background-color: #f9f9f9;
}

.contact-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.contact-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}


.contact-form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}

.contact-form h3 {
  text-align: center;
  font-size: 18px;
}

.row {
  display: flex;
  gap: 10px;
}

input, textarea {
  flex: 1;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

button {
  align-self: center;
  padding: 10px 20px;
  font-size: 14px;
  background-color: white;
  border: 1px solid #888;
  cursor: pointer;
}


.contact-image img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  background-color: #ddd;
  border-radius: 6px;
}
